<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Curl Diary</title>
    <link rel="stylesheet" href="/css/output.css">
   
</head>
<body>
    <div >
        <div class="text-center">
            <h1 class="text-blue-700 text-5xl"> Welcome to your Curl Diary</h1>
            <p>A natural hair tracker application that allows you to keep track of your natural hair growth journey.</p>
            <div class="flex justify-center w-full">
                <!-- <a href="https://storyset.com/woman">Woman illustrations by Storyset</a> -->
                <img class="w-5/12" src="img/curly-hair.svg" alt="Girl sitting reading books">
            </div>
        
            <a href="/login" class="rounded-md bg-yellow-500 hover:bg-yellow-300 font-semibold shadow-sm px-4 py-2 mx-2 text-white">
                <span class="fa fa-user"></span>
                Login
            </a>
            <a href="/signup" class="rounded-md bg-yellow-500 hover:bg-yellow-300 font-semibold shadow-sm px-4 py-2 mx-2 text-white">
                <span class="fa fa-user"></span>
                Signup
            </a>
        </div>
    </div>
    
<%- include('partials/footer') -%>