<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hair Journal</title>
</head>
<body>
    <h1>Hair Journal</h1>
    <p>User will be able to add different journal entries</p>
</body>
</html>