<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hair Quiz</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="px-16">
        <h1 class="text-center text-2xl mb-8">Hair Quiz</h1>
        <!-- <p>Complete the below quiz to </p> -->
        <form action="/quizresults" method="POST">
            <!-- Question 1 -->
            <div class="quiz-question mb-8">
                <h3 class="text-lg mb-3">1. Describe your curl pattern</h3>
                <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                    <input  
                        id="wavyRadio"    
                        type="radio"   
                        value="wavy"  
                        name="wavy-pattern"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label 
                        for="wavyRadio" 
                        class="w-full py-4 ms-2 text-sm font-medium text-black">
                        <span class="font-bold">Wavy:</span> Hair forms loose “S” shapes with minimal volume
                    </label>
                </div>
                <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                    <input  
                    id="curlyRadio"    
                    type="radio"   
                    value="curly"  
                    name="curly-pattern"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label 
                    for="curlyRadio" 
                    class="w-full py-4 ms-2 text-sm font-medium text-black">
                    <span class="font-bold">Curly:</span> Hair has well-defined spiral curls
                </label>
                </div>
                <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                    <input  
                        id="coilyRadio"    
                        type="radio"   
                        value="coily"  
                        name="coily-pattern"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label 
                        for="coilyRadio" 
                        class="w-full py-4 ms-2 text-sm font-medium text-black">
                        <span class="font-bold">Coil:</span> Hair is tightly coiled, forming a “Z” shaped pattern
                    </label>
                </div>
            </div>
            <!-- Question 2 -->
            <div class="quiz-question mb-8">
                <h3 class="text-lg mb-3">2. What is your hair’s porosity?</h3>
                <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                    <input id="lowRadio" type="radio" value="low porosity" name="low-porosity"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="lowRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                        <span class="font-bold">Low:</span> Hair has trouble absorbing moisture and dries slowly
                    </label>
                </div>
                <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                    <input id="mediumRadio" type="radio" value="medium porosity" name="medium-porosity"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="mediumRadio" class="w-full py-4 ms-2 creamym font-medium text-black">
                        <span class="font-bold">Medium:</span>Hair doesn’t have any problems absorbing moisture
                    </label>
                </div>
                <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                    <input id="highRadio" type="radio" value="high porosity" name="high-porosity"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="highRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                        <span class="font-bold">High:</span>Hair absorbs a lot of moisture, but dries out quickly
                    </label>
                </div>
            </div>
            <!-- Question 3 -->
            <div class="quiz-question mb-8">
                <h3 class="text-lg mb-3">3. What is your biggest hair challenge? (Choose up to 2)</h3>
                <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                    <input 
                        id="dryCheckbox" 
                        type="checkbox" 
                        value="dry" 
                        name="dry-issue"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label 
                        for="dryCheckbox" 
                        class="w-full py-4 ms-2 text-sm font-medium text-black">
                        Dry, brittle
                    </label>
                </div>
                <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                    <input 
                        id="heatCheckbox" 
                        type="checkbox" 
                        value="heat damage" 
                        name="heat-issue"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label 
                        for="heatCheckbox" 
                        class="w-full py-4 ms-2 text-sm font-medium text-black">
                        Heat Damage
                    </label>
                </div>
                <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                    <input 
                        id="breakageCheckbox" 
                        type="checkbox" 
                        value="breakage" 
                        name="breakage"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label 
                        for="breakageCheckbox" 
                        class="w-full py-4 ms-2 text-sm font-medium text-black">
                        Breaks easily
                    </label>
                </div>
                <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                    <input 
                        id="frizzCheckbox" 
                        type="checkbox" 
                        value="Frizz" 
                        name="frizz"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label 
                        for="frizzCheckbox" 
                        class="w-full py-4 ms-2 text-sm font-medium text-black">
                        Frizz
                    </label>
                </div>
                <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                    <input 
                        id="buildupCheckbox" 
                        type="checkbox" 
                        value="buildup" 
                        name="buildup-issue"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label 
                        for="buildupCheckbox" 
                        class="w-full py-4 ms-2 text-sm font-medium text-black">
                        Too much buildup
                    </label>
                </div>
                <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                    <input id="tanglesCheckbox" type="checkbox" value="Tangles" name="tangles"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="tanglesCheckbox" class="w-full py-4 ms-2 text-sm font-medium text-black">
                        Tangles easily
                    </label>
                </div>
                <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                    <input id="nothingCheckbox" type="checkbox" value="None of the above" name="none-of-above"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="nothingCheckbox" class="w-full py-4 ms-2 text-sm font-medium text-black">
                        None of the above
                    </label>
                </div>
            </div>
                <!-- Question 4 -->
                <div class="quiz-question mb-8">
                    <h3 class="text-lg mb-3">4. What’s your main hair goal? (Choose up to 2)</h3>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="growthCheckbox" type="checkbox" value="growth" name="growth"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="growthCheckbox" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            Hair Growth
                        </label>
                    </div>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="moistureCheckbox" type="checkbox" value="moisture" name="moisture"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="moistureCheckbox" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            More Moisture
                        </label>
                    </div>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="lengthCheckbox" type="checkbox" value="length" name="length"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="lengthCheckbox" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            Length Retention
                        </label>
                    </div>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="repairCheckbox" type="checkbox" value="repair damage" name="repair"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="repairCheckbox" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            Repair damage
                        </label>
                    </div>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="definitionCheckbox" type="checkbox" value="defintion" name="defintion"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="definitionCheckbox" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            Definition and frizz control
                        </label>
                    </div>
                </div>
                <!-- Question 5 -->
                <div class="quiz-question mb-8">
                    <h3 class="text-lg mb-3">5. How often do you wash your hair?</h3>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="everyDayRadio" type="radio" value="every day" name="every-day"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="everyDayRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            Every day or every other day
                        </label>
                    </div>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="twoThreeRadio" type="radio" value="two to three days" name="two-three-days"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="twoThreeRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            2-3 times a week
                        </label>
                    </div>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="onceRadio" type="radio" value="once" name="once"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="onceRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            Once a week
                        </label>
                    </div>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="lessRadio" type="radio" value="less than week" name="less"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="lessRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            Less than once a week
                        </label>
                    </div>
                </div>
                <!-- Question 6 -->
                <div class="quiz-question mb-8">
                    <h3 class="text-lg mb-3">6. What type of styling do you prefer?</h3>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="protectiveRadio" type="radio" value="protective styling" name="protective"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="protectiveRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            Protective Styles (e.g braids, twists, locs, etc.)
                        </label>
                    </div>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="washGoRadio" type="radio" value="wash-n-go" name="wash-n-go"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="washGoRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            Wash-and-Go
                        </label>
                    </div>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="heatStylingRadio" type="radio" value="heat styling" name="heat-styling"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="heatStylingRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            Heat styling (e.g blow-drying, straightening, etc)
                        </label>
                    </div>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="twistOutRadio" type="radio" value="twist and braid out" name="twist-braid-out"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="twistOutRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            Twists/Braid out
                        </label>
                    </div>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="lowManiRadio" type="radio" value="low manipulation" name="low-manipulation"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="lowManiRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            Low-manipulation styles
                        </label>
                    </div>
                </div>
                <!-- Question 7 -->
                <div class="quiz-question mb-8">
                    <h3 class="text-lg mb-3">7. How does your scalp typically feel?</h3>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="flakyRadio" type="radio" value="flaky" name="flaky"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="flakyRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            Dry and Flaky
                        </label>
                    </div>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="oilyRadio" type="radio" value="oily" name="oily"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="oilyRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            Oily
                        </label>
                    </div>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="sensitiveRadio" type="radio" value="sensitive" name="sensitive"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="sensitiveRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            Sensitive or easily irritated
                        </label>
                    </div>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="normalRadio" type="radio" value="normal" name="normal"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="normalRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            Normal
                        </label>
                    </div>
                </div>
                <!-- Question 8 -->
                <div class="quiz-question mb-8">
                    <h3 class="text-lg mb-3">8. What kind of products do you prefer?</h3>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="lightweightRadio" type="radio" value="lightweight" name="lightweight"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="lightweightRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            Lightweight and non-greasy
                        </label>
                    </div>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="creamyRadio" type="radio" value="rich and creamy" name="creamy"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="creamyRadio" class="w-full py-4 ms-2 creamym font-medium text-black">
                            Rich and creamy for added moisture
                        </label>
                    </div>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="naturalRadio" type="radio" value="natural" name="natural"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="naturalRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            All-natural ingredients
                        </label>
                    </div>
                    <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                        <input id="flexibleRadio" type="radio" value="not sure" name="flexible"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="flexibleRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            Not sure open to anything that works
                        </label>
                    </div>
                </div>
                <!-- Question 9 -->
                    <div class="quiz-question mb-8">
                        <h3 class="text-lg mb-3">9. What kind of results do you want from your stylers?</h3>
                        <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                            <input id="softHoldRadio" type="radio" value="soft hold" name="soft-hold"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="softHoldRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                               <span class="font-bold">Soft Hold:</span> I want to gently enhance my natural texture
                            </label>
                        </div>
                        <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                            <input id="mediumHoldRadio" type="radio" value="medium hold" name="medium-hold"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="mediumHoldRadio" class="w-full py-4 ms-2 creamym font-medium text-black">
                                <span class="font-bold">Medium Hold:</span> I want my curls to look defined, shiny, and bouncy
                            </label>
                        </div>
                        <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                            <input id="strongHoldRadio" type="radio" value="strong hold" name="strong-hold"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="strongHoldRadio" class="w-full py-4 ms-2 text-sm font-medium text-black">
                            <span class="font-bold">Strong Hold:</span> I want my curls to have long lasting definition
                            </label>
                        </div>
                    </div>
                <button class="rounded-md bg-blue-700 hover:bg-blue-600 px-3 py-1.5 mx-2 text-white mt-3" type="submit">Get Results</button>
            </form>
    </div>
    <script src="main.js"></script>
    <script src="https://kit.fontawesome.com/aabdb7c1a3.js" crossorigin="anonymous"></script>
</body>