<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hair Resources</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
    <h1>Resources</h1>
    <p>User will be able to search for different hair resources </p>
    
<%- include('partials/footer') -%>